.minus:hover {
  transform: rotate(-45deg);
  transition: 0.3s ease-in-out;
  background: red;
  cursor: pointer;
}

.content-title {
  display: flex;
  margin: 1px;
  margin-bottom: 5px;
}
.listitems {
  padding: 9px 3px;
  background-color: white;
  color: #17394d;
  font-size: 15px;
  margin-bottom: 8px;
  height: 31px;
  font-size: 19px;
  letter-spacing: 0.6px;
  display: flex;
}
.display_grid .boxx {
  margin: 5px;
  padding: 5px;
  background-color: #dfe3e6;
}
.boxx1,
.boxx2,
.boxx3 {
  width: 280px;
  margin-right: 10px;
}
.alert {
  padding: 10px;
  /* border: 1px solid #616161; */
  color: #071014;
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: bold;
  background-color: #dfe3e6;
}
.time-left {
  color: #071014;
  font-size: 17px;
  font-weight: bold;
  margin-left: 15px;
}

.cellContainer {
  display: flex;
  justify-content: space-between;
  width: 272px;
}

.content-title {
  /* background-color: yellowgreen; */
  font-size: 21px;
  height: 100%;
}
.boxx1 {
  background-color: black;
}

.deleteItem {
  /* background-color: purple; */
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-times {
  font-size: 20px;
}

.fa-times :hover {
  transform: rotate(100deg);
  transition: 0.3s ease-in-out;
}
.display_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #071014;
}
